header.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 12;
    min-height: 104px;
    display: flex;
    align-items: center;
    background: linear-gradient(270deg, #000E0A 0%, #0D4A3E 49%, #000E0A 100%);
    font-family: "Outfit", sans-serif;
}

.header__logo {
    img {
        max-width: 100%;
    }
}

.header__nav {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 53px;

    }

    a {
        text-decoration: none;
        color: rgba(#FFFFFF, 0.7);
        font-size: 18px;
        line-height: 100%;
        transition: color 0.3s ease;

        &:hover {
            color: #00B393;
        }

        &:active {
            color: #008F75;
        }
    }
}

.header__contacts {
    text-align: right;
}

.burger-btn,
.header__contacts--mobile,
.close-menu {
    display: none;
}



@media(max-width:1499.8px) {
    header.header {
        min-height: 90px;
    }

    .header__nav ul {
        gap: 30px;
    }

}

@media(max-width:1199.8px) {
    .header__nav ul {
        gap: 20px;

        a {
            font-size: 16px;
        }
    }

    .header__logo {
        max-width: 180px;
    }

}

@media(max-width:991.8px) {

    .burger-btn {
        display: inline-block;
        width: 40px;
        height: 40px;
        background: transparent;
        padding: 0;
        border: none;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 8px;
    }

    .header__contacts {
        display: none;
    }

    .header__contacts--mobile {
        display: block;
        text-align: left;
        margin-top: 20px;
    }

    .mobile-menu-col {
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        max-width: 600px;
        height: 100vh;
        background: #000E0A;
        z-index: 12;
        padding: 100px 40px 60px 40px;
        transition: 0.5s;
        transform: translateX(100%);
        overflow: auto;

        &.open {
            transform: translateX(0);
        }
    }

    .close-menu {
        display: inline-block;
        background: transparent;
        padding: 0;
        border: none;
        position: absolute;
        right: 40px;
        top: 40px;
    }

    .header.header--home .container {
        position: relative;
    }

    .header__nav ul {
        justify-content: flex-start;
        flex-wrap: wrap;

        li {
            width: 100%;
        }
    }

    .header__nav ul a {
        font-size: 20px;
    }

    
}

@media(max-width:575.8px) {
    header.header {
        min-height: 70px;
    }

    .header__logo {
        max-width: 160px;
    }

    .burger-btn {
        width: 32px;
        height: 32px;
        margin-top: 3px;
    }
    
}