header.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 12;
    min-height: 104px;
    display: flex;
    align-items: center;
    background: linear-gradient(270deg, #000E0A 0%, #0D4A3E 49%, #000E0A 100%);
    font-family: "Outfit", sans-serif;
}

.header__logo {
    img {
        max-width: 100%;
    }
}

.header__nav {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 53px;

    }

    a {
        text-decoration: none;
        color: rgba(#FFFFFF, 0.7);
        font-size: 18px;
        line-height: 100%;
        transition: color 0.3s ease;

        &:hover {
            color: #00B393;
        }

        &:active {
            color: #008F75;
        }
    }
}

.header__contacts {
    text-align: right;
}

@media(max-width:1499.8px) {
    header.header {
        min-height: 90px;   
    }

    .header__nav ul {
        gap: 30px;
    }

}

@media(max-width:1199.8px) {
    .header__nav ul {
        gap: 20px;

        a {
            font-size: 16px;
        }
    }

    .header__logo {
        max-width: 180px;
    }

}